<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="5 minutes">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout>	
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{invoke_no} %-5level %logger{32} %L - %msg%n
			</pattern>
		</layout>
	</appender>
	<logger name="com.jhjc.app" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="org.apache.ibatis" level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="java.sql" level="debug">
		<appender-ref ref="STDOUT"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SIFT" />
	</root>
</configuration>